In [1]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (0.3.4)
Requirement already satisfied: packaging in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from kagglehub) (24.2)
Requirement already satisfied: requests in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\mmm00\anaconda3\envs\x\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("crowdflower/twitter-airline-sentiment")

print("Path to dataset files:", path)

c:\Users\mmm00\anaconda3\envs\x\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\mmm00\.cache\kagglehub\datasets\crowdflower\twitter-airline-sentiment\versions\4

In [3]:

import pandas as pd

In [4]:
path=r"C:\Users\mmm00\Desktop\upstage5_mlops\Xbaseline\Tweets.csv"
df=pd.read_csv(path)
df.head(20)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2015-02-24 11:14:33 -0800,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)
7,570300248553349120,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,NaN,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn't‚Ä¶but NOW I DO! :-D",NaN,2015-02-24 11:11:19 -0800,San Diego,Pacific Time (US & Canada)
9,570295459631263746,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",NaN,2015-02-24 10:53:27 -0800,Los Angeles,Eastern Time (US & Canada)
10,570294189143031808,neutral,0.6769,NaN,0.0000,Virgin America,NaN,idk_but_youtube,NaN,0,@VirginAmerica did you know that suicide is th...,NaN,2015-02-24 10:48:24 -0800,1/1 loner squad,Eastern Time (US & Canada)
11,570289724453216256,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica I &lt;3 pretty graphics. so muc...,NaN,2015-02-24 10:30:40 -0800,NYC,America/New_York
12,570289584061480960,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica This is such a great deal! Alre...,NaN,2015-02-24 10:30:06 -0800,NYC,America/New_York
13,570287408438120448,positive,0.6451,NaN,NaN,Virgin America,NaN,mollanderson,NaN,0,@VirginAmerica @virginmedia I'm flying your #f...,NaN,2015-02-24 10:21:28 -0800,NaN,Eastern Time (US & Canada)
14,570285904809598977,positive,1.0000,NaN,NaN,Virgin America,NaN,sjespers,NaN,0,@VirginAmerica Thanks!,NaN,2015-02-24 10:15:29 -0800,"San Francisco, CA",Pacific Time (US & Canada)
15,570282469121007616,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,NaN,2015-02-24 10:01:50 -0800,"palo alto, ca",Pacific Time (US & Canada)
16,570277724385734656,positive,1.0000,NaN,NaN,Virgin America,NaN,ItzBrianHunty,NaN,0,@VirginAmerica So excited for my first cross c...,NaN,2015-02-24 09:42:59 -0800,west covina,Pacific Time (US & Canada)
17,570276917301137409,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,NaN,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
18,570270684619923457,positive,1.0000,NaN,NaN,Virgin America,NaN,thebrandiray,NaN,0,I ‚ù§Ô∏è flying @VirginAmerica. ‚ò∫Ô∏èüëç,NaN,2015-02-24 09:15:00 -0800,Somewhere celebrating life.,Atlantic Time (Canada)
19,570267956648792064,positive,1.0000,NaN,NaN,Virgin America,NaN,JNLpierce,NaN,0,@VirginAmerica you know what would be amazingl...,NaN,2015-02-24 09:04:10 -0800,Boston | Waltham,Quito

In [5]:
df.head(20)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2015-02-24 11:14:33 -0800,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)
7,570300248553349120,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,NaN,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn't‚Ä¶but NOW I DO! :-D",NaN,2015-02-24 11:11:19 -0800,San Diego,Pacific Time (US & Canada)
9,570295459631263746,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",NaN,2015-02-24 10:53:27 -0800,Los Angeles,Eastern Time (US & Canada)
10,570294189143031808,neutral,0.6769,NaN,0.0000,Virgin America,NaN,idk_but_youtube,NaN,0,@VirginAmerica did you know that suicide is th...,NaN,2015-02-24 10:48:24 -0800,1/1 loner squad,Eastern Time (US & Canada)
11,570289724453216256,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica I &lt;3 pretty graphics. so muc...,NaN,2015-02-24 10:30:40 -0800,NYC,America/New_York
12,570289584061480960,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica This is such a great deal! Alre...,NaN,2015-02-24 10:30:06 -0800,NYC,America/New_York
13,570287408438120448,positive,0.6451,NaN,NaN,Virgin America,NaN,mollanderson,NaN,0,@VirginAmerica @virginmedia I'm flying your #f...,NaN,2015-02-24 10:21:28 -0800,NaN,Eastern Time (US & Canada)
14,570285904809598977,positive,1.0000,NaN,NaN,Virgin America,NaN,sjespers,NaN,0,@VirginAmerica Thanks!,NaN,2015-02-24 10:15:29 -0800,"San Francisco, CA",Pacific Time (US & Canada)
15,570282469121007616,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,NaN,2015-02-24 10:01:50 -0800,"palo alto, ca",Pacific Time (US & Canada)
16,570277724385734656,positive,1.0000,NaN,NaN,Virgin America,NaN,ItzBrianHunty,NaN,0,@VirginAmerica So excited for my first cross c...,NaN,2015-02-24 09:42:59 -0800,west covina,Pacific Time (US & Canada)
17,570276917301137409,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,NaN,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
18,570270684619923457,positive,1.0000,NaN,NaN,Virgin America,NaN,thebrandiray,NaN,0,I ‚ù§Ô∏è flying @VirginAmerica. ‚ò∫Ô∏èüëç,NaN,2015-02-24 09:15:00 -0800,Somewhere celebrating life.,Atlantic Time (Canada)
19,570267956648792064,positive,1.0000,NaN,NaN,Virgin America,NaN,JNLpierce,NaN,0,@VirginAmerica you know what would be amazingl...,NaN,2015-02-24 09:04:10 -0800,Boston | Waltham,Quito

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [7]:
print(df.isnull().sum()[df.isnull().sum() > 0])

negativereason                5462
negativereason_confidence     4118
airline_sentiment_gold       14600
negativereason_gold          14608
tweet_coord                  13621
tweet_location                4733
user_timezone                 4820
dtype: int64

## ÏùòÎØ∏ÏóÜÎäî Ïó¥ ÏÇ≠Ï†ú+ Í≤∞Ï∏°Ïπò ÏûàÎäî Ïó¥ ÏÇ≠Ï†ú

In [8]:
# ÏÇ≠Ï†úÌï† Ïó¥Îì§ÏùÑ Î¶¨Ïä§Ìä∏Î°ú Ï†ïÏùò
columns_to_drop = ['user_timezone', 'tweet_location', 'name', 
                  'negativereason_confidence', 'negativereason', 'tweet_id']

# drop Ìï®ÏàòÎ°ú Ïó¥ ÏÇ≠Ï†ú
df = df.drop(columns=columns_to_drop)

# ÏÇ≠Ï†ú ÌôïÏù∏
print("ÎÇ®ÏùÄ Ïª¨Îüº:", df.columns.tolist())

ÎÇ®ÏùÄ Ïª¨Îüº: ['airline_sentiment', 'airline_sentiment_confidence', 'airline', 'airline_sentiment_gold', 'negativereason_gold', 'retweet_count', 'text', 'tweet_coord', 'tweet_created']

## Í≤∞Ï∏°Ïπò ÎßéÏùÄ Ïó¥ ÏÇ≠Ï†ú

In [9]:
# Î∂àÌïÑÏöîÌïú Ïó¥ ÏÇ≠Ï†ú
df= df.drop(columns=['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord'])

# Í≤∞Í≥º ÌôïÏù∏
print(df.head())

  airline_sentiment  airline_sentiment_confidence         airline  \
0           neutral                        1.0000  Virgin America
1          positive                        0.3486  Virgin America
2           neutral                        0.6837  Virgin America
3          negative                        1.0000  Virgin America
4          negative                        1.0000  Virgin America

   retweet_count                                               text  \
0              0                @VirginAmerica What @dhepburn said.
1              0  @VirginAmerica plus you've added commercials t...
2              0  @VirginAmerica I didn't today... Must mean I n...
3              0  @VirginAmerica it's really aggressive to blast...
4              0  @VirginAmerica and it's a really big bad thing...

               tweet_created
0  2015-02-24 11:35:52 -0800
1  2015-02-24 11:15:59 -0800
2  2015-02-24 11:15:48 -0800
3  2015-02-24 11:15:36 -0800
4  2015-02-24 11:14:45 -0800

## airline Ïõê-Ìï´ Ïù∏ÏΩîÎî©

In [10]:
# airline Ïõê-Ìï´ Ïù∏ÏΩîÎî©
airline_dummies = pd.get_dummies(df['airline'], prefix='airline')

# ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú 'airline' Ïª¨Îüº ÏÇ≠Ï†úÌïòÍ≥† Ïõê-Ìï´ Ïù∏ÏΩîÎî© Í≤∞Í≥º Ï∂îÍ∞Ä
# df = df.drop('airline', axis=1)
df = pd.concat([df, airline_dummies], axis=1)

In [11]:
df.head()

,airline_sentiment,airline_sentiment_confidence,airline,retweet_count,text,tweet_created,airline_American,airline_Delta,airline_Southwest,airline_US Airways,airline_United,airline_Virgin America
0,neutral,1.0000,Virgin America,0,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800,False,False,False,False,False,True
1,positive,0.3486,Virgin America,0,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800,False,False,False,False,False,True
2,neutral,0.6837,Virgin America,0,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800,False,False,False,False,False,True
3,negative,1.0000,Virgin America,0,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800,False,False,False,False,False,True
4,negative,1.0000,Virgin America,0,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800,False,False,False,False,False,True

In [12]:
df['airline'].unique()

array(['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American'], dtype=object)

### object ÌÉÄÏûÖ Ïª¨Îüº ÌôïÏù∏

In [13]:
object_columns = df.select_dtypes(include=['object']).columns
object_columns

Index(['airline_sentiment', 'airline', 'text', 'tweet_created'], dtype='object')

In [14]:
tweets_df=df.copy()

## ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ ÌûàÌä∏Îßµ

In [15]:
# 1. Î≤îÏ£ºÌòï(object) Ïª¨Îüº ÏÑ†ÌÉù
categorical_columns = tweets_df.select_dtypes(include=['object']).columns
print("Î≤îÏ£ºÌòï Ïª¨Îüº:", categorical_columns.tolist())

# 2. Î≤îÏ£ºÌòï Î≥ÄÏàòÎ•º ÎçîÎØ∏ Î≥ÄÏàòÎ°ú Î≥ÄÌôò
dummy_df = pd.get_dummies(tweets_df[categorical_columns])

# 3. Ïà´ÏûêÌòï Î≥ÄÏàò ÏÑ†ÌÉù
numeric_df = tweets_df.select_dtypes(include=['number'])

# 4. Ïà´ÏûêÌòï Î≥ÄÏàòÏôÄ ÎçîÎØ∏ Î≥ÄÏàò Í≤∞Ìï©
combined_df = pd.concat([numeric_df, dummy_df], axis=1)

# 5. ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ Í≥ÑÏÇ∞ Î∞è ÏãúÍ∞ÅÌôî
correlation = combined_df.corr()

# ÏãúÍ∞ÅÌôî
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 10))
sns.heatmap(correlation, 
            annot=True,     
            cmap='coolwarm',
            center=0,       
            fmt='.2f')      

plt.title('Î™®Îì† Î≥ÄÏàòÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ (ÎçîÎØ∏Î≥ÄÏàò Ìè¨Ìï®)')
plt.tight_layout()
plt.show()

# ÌäπÏ†ï Î≥ÄÏàòÏôÄÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎßå Î≥¥Í∏∞ (Ïòà: ÏÉÅÏúÑ 10Í∞ú)
print("\nÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ ÏÉÅÏúÑ 10Í∞ú:")
print(correlation.unstack().sort_values(ascending=False)[:10])

Î≤îÏ£ºÌòï Ïª¨Îüº: ['airline_sentiment', 'airline', 'text', 'tweet_created']

In [ ]:
print(df.isnull().sum()[df.isnull().sum() > 0])

negativereason                5462
negativereason_confidence     4118
airline_sentiment_gold       14600
negativereason_gold          14608
tweet_coord                  13621
tweet_location                4733
user_timezone                 4820
dtype: int64

In [72]:
# 1. ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ Í≥ÑÏÇ∞
correlation = tweets_df.corr()

# 2. ÌûàÌä∏Îßµ ÏãúÍ∞ÅÌôî
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 8))
sns.heatmap(correlation, 
            annot=True,     # ÏÉÅÍ¥ÄÍ≥ÑÏàò ÌëúÏãú
            cmap='coolwarm',# ÏÉâÏÉÅÎßµ
            center=0,       # 0ÏùÑ Ï§ëÏã¨ÏúºÎ°ú ÏÉâÏÉÅ ÌëúÏãú
            fmt='.2f')      # ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨ÍπåÏßÄ ÌëúÏãú

plt.title('Tweets Îç∞Ïù¥ÌÑ∞ ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ ÌûàÌä∏Îßµ')
plt.tight_layout()  # Î†àÏù¥Î∏îÏù¥ ÏûòÎ¶¨ÏßÄ ÏïäÎèÑÎ°ù
plt.show()

# 3. ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ Í∞í Ï∂úÎ†•
print("\nÏ£ºÏöî ÏÉÅÍ¥ÄÍ¥ÄÍ≥Ñ:")
print(correlation.unstack().sort_values(ascending=False).drop_duplicates())

ValueError: could not convert string to float: 'neutral'

In [70]:
df.isna().sum()

airline_sentiment               0
airline_sentiment_confidence    0
airline                         0
retweet_count                   0
text                            0
tweet_created                   0
airline_American                0
airline_Delta                   0
airline_Southwest               0
airline_US Airways              0
airline_United                  0
airline_Virgin America          0
airline_American                0
airline_Delta                   0
airline_Southwest               0
airline_US Airways              0
airline_United                  0
airline_Virgin America          0
dtype: int64

In [64]:
df.airline.value_counts()

airline
United            3822
US Airways        2913
American          2759
Southwest         2420
Delta             2222
Virgin America     504
Name: count, dtype: int64

In [65]:
df.negativereason.value_counts()

AttributeError: 'DataFrame' object has no attribute 'negativereason'

In [27]:
df.shape

(14640, 12)

## Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†

In [26]:
# from sklearn.model_selection import train_test_split

# # XÎäî ÌäπÏÑ±Îì§(airline_sentiment Ï†úÏô∏), yÎäî airline_sentiment
# X = df.drop('airline_sentiment', axis=1)#1ÏùÄ Ïó¥
# y = df['airline_sentiment']

# X_train, X_test, y_train, y_test = train_test_split(
#     X, y,
#     test_size=0.2,          # ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ 20%
#     random_state=42,        # Ïû¨ÌòÑÏÑ±ÏùÑ ÏúÑÌïú ÏãúÎìú Í∞í
#     stratify=y             # ÌÅ¥ÎûòÏä§ ÎπÑÏú® Ïú†ÏßÄ
# )

# # Î∂ÑÌï†Îêú Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ ÌôïÏù∏
# print('ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞:', X_train.shape)
# print('ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞:', X_test.shape)

# # ÌÅ¥ÎûòÏä§ ÎπÑÏú® ÌôïÏù∏
# print('\nÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¥ÎûòÏä§ Î∂ÑÌè¨:\n', y_train.value_counts(normalize=True))
# print('\nÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¥ÎûòÏä§ Î∂ÑÌè¨:\n', y_test.value_counts(normalize=True))

ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: (11712, 11)
ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞: (2928, 11)

ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÌÅ¥ÎûòÏä§ Î∂ÑÌè¨:
 airline_sentiment
negative    0.626964
neutral     0.211663
positive    0.161373
Name: proportion, dtype: float64

ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÌÅ¥ÎûòÏä§ Î∂ÑÌè¨:
 airline_sentiment
negative    0.626708
neutral     0.211749
positive    0.161544
Name: proportion, dtype: float64